Bootstrap_Flask==2.4.2
Flask_CKEditor==1.0.0
Flask_Login==0.6.3
Flask_WTF==1.2.2
WTForms==3.0.1
Werkzeug==3.0.0
Flask==3.1.0
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.39
gunicorn==23.0.0
psycopg2-binary==2.9.9
dotenv==0.9.9
